{% extends 'public/base.html.twig' %}


{% block metatitle %}
    Create account
{% endblock %}

{% block body %}
    <h1>Création du compte</h1>

    <form method="post">

        <div>
            <label for="">
                <input placeholder="email" type="email" name="email">
            </label>
        </div>
        <div>
            <label for="">
                <input placeholder="password" type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit">
        </div>

    </form>



{% endblock %}